a{text-decoration: none;}

.videoThumb {
    height: 100%;
    min-height: 215px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.video-disc{
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}